/* * {
    -fx-border: 1px;
    -fx-border-color: red;
}*/

.visibleBorder {
    -fx-border: 2px;
    -fx-border-color: white;
}

.messages {
    -fx-font-size: 2.2em;
    -fx-text-fill: black;
    -fx-font-family: 'ZCOOL KuaiLe', cursive;

}

.button{
    -fx-background-color: #3C0A0A;
    -fx-text-fill: #E94B2B;
}

.mainBackground {
    -fx-background-color: linear-gradient(to bottom, #ff9b08, #f64a02);
}

.shadow {
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 3, 3);
}

.rightShadow{
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 3, 0);
}

.yellowLines Line {
    -fx-stroke : yellow;
}

.purpleLines Line {
    -fx-stroke : purple;
}

.whiteLines Line {
    -fx-stroke : white;
}